<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        <h2>Piktogram Generator Prototype</h2>
        <p>Her kan du lave dine egne piktogrammer og blive inspireret af andres!</p>
        <!-- Show examples of different piktograms here -->
    </main>
</body>
</html>
